# Prevent users from committing their own RProject
.Rproj.user
.Rproj

# Prevent users from committing their own .RData and .Rhistory in a mutual area
.RData
.Rhistory
.Rapp.history

# The blogdown/ directory is used to store cache files, and they are most likely
# to be useless to the published website. The public/ directory should be 
# ignored if your website is going to be automatically (re)built on a remote 
# server such as Netlify.

.DS_Store


.idea/*

/blogdown/
/public/

# Temporary files
*~
~$*.doc*
~$*.xls*
*.xlk
~$*.ppt*

# Prevent mac users from committing .DS_Store files
*.DS_Store

# Prevent users from committing the README files created by RStudio
*README.html
*README_cache/
#*README_files/
m21_bincounts_dprime.csv
